/* Styles for the <main> element */
main.accio#job {
  width: 150px;
  height: 150px;
  background-color: black;
}

/* Styles for the <p> element inside <main> */
main.accio#job .hello-accio {
  color: white;
  margin-left: 32px;
  padding: 10px;
}
